<style type="text/css">
<!--/

A:link { color: #af0000; }
A:visited { color: #a69c5a; }
A:active { color: #c24641; }
A:hover { color: #af0000; }

.content {background-color : #ffffff; color : #000000; font-family:arial, helvetica; font-size:12.5px; }
.specials {background-color : #f3f2e9; color : #af0000; font-family:Verdana; font-size:12px; }
.sp {background-color : #f3f2e9; color : #af0000; font-family:Verdana; font-size:11.1px; }

.head {background-color : #ffffff; color : #af0000; font-family:arial, helvetica; font-size:14.0px; font-weight: bold; }
.details {background-color : #f3f2e9; color : #000000; font-family:arial, helvetica; font-size:10.5px; }
.int {background-color : #ffffff; color : #000000; font-family:arial, helvetica; font-size:12px; }
.small {background-color : #000000; color : #000000; font-family:arial, helvetica; font-size:10px; }

h1 { color: #efefd6;  margin-bottom: 0px; margin-top: 0px; font-size: 20px; font-family: Tahoma,Verdana,Arial }
h2 { color: #003366; margin-bottom: 0px; margin-top: 0px; font-size: 18px; font-family: Tahoma,Verdana,Arial }
h3 { color: #003366; margin-bottom: 0px; margin-top: 0px; font-size: 15px; font-family: Tahoma,Verdana,Arial }

/-->
</style>








